<h1>Arguing for Argument's Sake</h1>
<h2>Kate Upton vs. Ping-Pong</h2>
<p>
		<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Vote</h3>
      <p>
      		<a class="btn btn-primary" href"#"><i class="icon-okay icon-white"</i></a>
      </p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
      <h3>Vote</h3>
      <p>
      		<a class="btn btn-primary" href"#"><i class="icon-okay icon-white"</i></a>
      </p>
    </div>
  </li>
</ul>
</p>



