<div class="hero-unit">
  <h1>Arguing for Argument's Sake</h1>
  <h2>Kate Upton vs. Ping-Pong</h2>
  <p>
    <div id="images">
  		<ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
        <h3>Vote</h3>
        <p>
        		<h4><a class="btn btn-primary" href"#">VOTE</a></h4>
        </p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="">
        <h3>Vote</h3>
        <p>
        		<h4><a class="btn btn-primary" href"#">VOTE</a></h4>
        </p>
      </div>
    </li>
  </ul>
</div>



